body{
  background-color: aqua;
  min-width: 600px;
  max-width: 1160px;
}
#bill{
  margin: 20px auto 4px auto;
  padding: 10px;
  min-height: 670px;
  background-color: white;
  border: 2px;
}
#tipselect{
  margin: 4px auto 4px auto;
}
#paymentinfo{
  margin: auto;
  height: 130px;
}
#totals{
  float: left;
  width: 65%;
  font-size: 150%;
  background-color: green;
  margin: 4px 0px 0px 0px;
  padding: 2px;
}
.totalsText{
  float: left;
  clear: left;
  font-color: white;
  margin-left: 4px;
}
.totalsAmount{
  float: right;
  clear: right;
  font-color: white;
  margin-right: 4px;
}
#buttons{
  float: right;
  max-width: 30%;
  margin: 4px;
}
#payButton{
  float: right;
  margin: 4px;
}
#splitButton{
  float: right;
  clear: right;
  margin: 4px;
}
#restaurantBanner{
  /*position: absolute;
  left: 0px;*/
  background-color: rgb(254,224,52)
  width: 100%;
}
#banner{
  margin-left: auto;
  margin-right: auto;
}
