/*body{
  background-color: aqua;
  min-width: 600px;
  max-width: 1160px;
}
#bill{
  margin: 20px auto 4px auto;
  padding: 10px;
  min-height: 670px;
  background-color: white;
  border: 2px;
}*/
#tipselect{
  padding-left: auto;
  padding-right: auto;
}
/*#paymentinfo{
  margin: auto;
  height: 130px;
}*/
#totals{
  float: left;
  width: 100%;
  font-size: 150%;
  /*background-color: green;*/
  margin: 4px 4px 0px 0px;
  padding: 2px;
}
.totalsText{
  float: left;
  clear: left;
  /*font-color: white;*/
  margin-left: 4px;
}
.totalsAmount{
  float: right;
  clear: right;
  /*font-color: white;*/
  margin-right: 4px;
}
#buttons{
  float: left;
  width: 100%;
  margin: 4px auto 0px auto;
}
#payButton{
  margin-left: auto;
  margin-right: auto;
  margin: 4px;
}
#splitButton{
  clear: right;
  margin-left: auto;
  margin-right: auto;
  margin: 4px;
}
#restaurantBanner{
  /*position: absolute;
  left: 0px;*/
  background-color: rgb(254,224,52)
  width: 100%;
}
#banner{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
