#billpage{
  max-width: 640px;
}
#bill{
  margin: 4px auto 4px auto;
  padding: 4px;
  max-height: 670px;
  background-color: white;
}
.tipselect{
  margin: 0px auto;
}
.ui-radio{
  width: 25%;
}
.ui-grid-a, .ui-grid-a, .ui-controlgroup-controls{
  margin: 0px auto;
  width:100%;
}
#totals{
  float: left;
  width: 60%;
  font-size: 150%;
  margin: 0px auto 4px auto;
  padding: 2px;
}
.totalsText{
  float: left;
  clear: left;
  /*font-color: white;*/
  margin-left: 4px;
}
.totalsAmount{
  float: right;
  clear: right;
  /*font-color: white;*/
  margin-right: 4px;
}
#buttons{
  float: right;
  width: 35%;
  margin: 4px auto 0px auto;
}
#payButton{
  float: right;
  margin: 4px;
  width: 90%;
}
#splitButton{
  float: right;
  clear: right;
  width: 90%;
  margin: 4px;
}
#restaurantBanner{
  /*position: absolute;
  left: 0px;*/
  background-color: rgb(254,224,52)
  width: 100%;
}
#banner{
  width: 100%;
}
